#!/usr/bin/env python
PACKAGE = "twistflyplugin"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("Kp", double_t, 0, "Proportional gain", 0.0001, 0.0, 1000)
gen.add("Kd", double_t, 0, "Derivative gain",   0.0001, 0.0, 1000)
gen.add("Ki", double_t, 0, "Integral gain",     0.0001, 0.0, 1000)
gen.add("clamp", double_t, 0, "Integral + Derivative clamp limit", 1, 0.0, 5000)

exit(gen.generate(PACKAGE, "twistflyplugin", "TwistPID"))